<p id="notice"><%= notice %></p>

<p>
  <strong>Provider name:</strong>
  <%= @provider.provider_name %>
</p>

<p>
  <strong>Provider type:</strong>
  <%= @provider.provider_type %>
</p>

<p>
  <strong>Provider url:</strong>
  <%= @provider.provider_url %>
</p>

<p>
  <strong>Provider user:</strong>
  <%= @provider.provider_user %>
</p>

<!-- <p>
  <strong>Provider password:</strong>
  <%#= @provider.encrypted_provider_password %>
</p>

<p>
  <strong>Provider session:</strong>
  <%#= @provider.provider_session %>
</p> -->

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
