<%#= @response["value"] %> 
<%#= @response.code %>
<%#= @response.headers %>

<% if @pcmd == "power" %>
<h4> The VM "<%= @vmname %>" is in <%= @response["value"]["state"].to_s.tr("_", " ") %> state.</h4>
<% end %>

<% if @response.code == 200 && @pcmd == "power_off" %>
<h4> The VM "<%= @vmname %>" is powered off. </h4>
<% end %>

<% if @response.code == 400 && @response["value"]["messages"][0]["default_message"]  == "Virtual machine is already powered off."%>
<h4> Virtual machine "<%= @vmname %>" is already powered off. </h4>
<% end %>

<% if @response.code == 400 && @response["value"]["messages"][0]["default_message"] == "Virtual machine that is powered off or suspended cannot be reset." %>
<h4> Virtual machine is powered off, hence it cannot be reset </h4>
<% end %>

<% if @response.code == 200 && @pcmd == "destroy" %>
<h4> The VM "<%= @vmname %>" is deleted successfully! </h4>
<% end %>

<% if @response.code == 500 && @pcmd == "destroy" %>
<h4> The VM "<%= @vmname %>" should be powered off before deleting. </h4>
<% end %>