<html>
<head>
    <title> Decommission </title>
</head>
<body>
	<h3> Decommission </h3>  

   <%= form_tag({:action => 'decommission'}, method: "get") do %>
   <div class="form-row">
		<div class="form-group col-md-4">
        <label for="provider"> Provider </label> <br/>
        <%= select_tag :provider, options_from_collection_for_select(Provider.all, "id", "provider_name"), :prompt => "--select provider--" %>
    	</div>
		<div class="form-group col-md-6">
			<div class="form-group">
            
            <label for="datacenter"> Datacenter </label><br>
            <%= select_tag :source_dc, options_from_collection_for_select(@datacenters, "datacenter", "name"), {:prompt => "--select datacenter--"} %> 
            <img src="/images/loading.gif" height=20 id="loading-sdc" style="display:none" /><br/>

            <label for="folder"> Folders </label><br>
            <%= select_tag :folders, options_from_collection_for_select(@folders, "folder", "name"), {:prompt => "--select folder--"} %> 
            <img src="/images/loading.gif" height=20 id="loading-folder" style="display:none" /><br/>

			<label for="source_vm"> VM Name </label><br>
        	<%= select_tag :source_vm, options_from_collection_for_select(@vms_folder, "vm", "name"), {:prompt => "--select VM--"} %>
            <img src="/images/loading.gif" height=20 id="loading-vm" style="display:none" /><br/>
        	<!-- <span id="vm_error"> </span> -->
        	</div>

        	<%= hidden_field_tag "datacenter_name", "dc_name" %>
        	<%= hidden_field_tag "source_vm_name", "svm_name" %>


        
        <%= radio_button_tag(:cmd, "power") %> Power STATUS
        <%= radio_button_tag(:cmd, "power_off") %> Power OFF
        <%= radio_button_tag(:cmd, "destroy") %> DELETE
        <h4> Send Mail to: </h4>
        <!-- <input id="send_mail" type="email" placeholder="sds@vmware.com" multiple> -->
        <%= email_field_tag :send_mail, nil, multiple: true %>

        <%= submit_tag("Submit") %>
        <br /><br />
        <h4> Choose the date you want to delete a VM </h4>
        <%#= select_date(Date.current, prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year'}) %>
        <%= select_date Date.today, prefix: :date %>

        </div>

        	



    <% end %>

    <script src="/js/decommission.js"> </script>

</body>
</html>
