<p id="notice"><%= notice %></p>

<h1>Infobloxes</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Infoblox url</th>
      <th>Infoblox username</th>
      <!-- <th>Infoblox password</th>
      <th>Encrypted infoblox password</th>
      <th>Encrypted infoblox password iv</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @infobloxes.each do |infoblox| %>
      <tr>
        <td><%= infoblox.infoblox_url %></td>
        <td><%= infoblox.infoblox_username %></td>
        <!-- <td><%= infoblox.infoblox_password %></td>
        <td><%= infoblox.encrypted_infoblox_password %></td>
        <td><%= infoblox.encrypted_infoblox_password_iv %></td> -->
        <td><%= link_to 'Show', infoblox %></td>
        <td><%= link_to 'Edit', edit_infoblox_path(infoblox) %></td>
        <td><%= link_to 'Destroy', infoblox, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Infoblox', new_infoblox_path %>
