<p id="notice"><%= notice %></p>

<p>
  <strong>Infoblox url:</strong>
  <%= @infoblox.infoblox_url %>
</p>

<p>
  <strong>Infoblox username:</strong>
  <%= @infoblox.infoblox_username %>
</p>



<%= link_to 'Edit', edit_infoblox_path(@infoblox) %> |
<%= link_to 'Back', infobloxes_path %>
