<html>
<head>
    <title> Standard Build</title>
</head>
<body>
  

   <%= form_tag({:action => 'create'}, method: "get") do %>
        <label for="provider"> Provider </label><br />
        <%#= collection_select :provider, :id, Provider.all, :id, :provider_name %> <br/>
        <%= select_tag :provider, options_from_collection_for_select(Provider.all, "id", "provider_name") %> <br/>
        <label for="vm_name"> VM Name </label><br/>
        <%= text_field_tag(:vm_name) %> <br/>

        <label for="datacenter"> Datacenter </label><br/>
        <%= select_tag :datacenter, options_for_select(@datacenters) %> <br />

        <label for="cluster"> Cluster </label><br />
        <%= select_tag :cluster, options_for_select(@clusters) %> <br />

        <label for="datastore"> Datastore </label><br/>
        <%= select_tag :datastore, options_for_select(@datastores) %> <br />

        <label for="network"> Network Adapter </label><br/>
        <%= select_tag :network, options_for_select(@networks) %> <br />

        <label for="source_vm"> Source VM </label><br/>
        <%= text_field_tag(:source_vm) %> <br/>

        <label for="target_vm"> Target VM </label><br/>
        <%= text_field_tag(:target_vm) %> <br/>

        <label for="ip_addr"> Ip Address </label><br/>
        <%= text_field_tag(:ip_addr) %> <br/>

        <label for="gateway"> Gateway </label><br/>
        <%= text_field_tag(:gateway) %> <br/>

        <label for="netmask"> Netmask </label><br/>
        <%= text_field_tag(:netmask) %> <br/>

        <label for="memoryMB"> Memory-new </label><br/>
        <%= text_field_tag(:memoryMB) %> <br/>

        <label for="dnsServer"> DNS Server </label><br/>
        <%= text_field_tag(:dnsServer) %> <br/>

        <label for="numCPUs"> CPU's </label><br/>
        <%= text_field_tag(:numCPUs) %> <br/>

        

        <%= hidden_field_tag "datacenter_name", "dc_name" %>
        <%= hidden_field_tag "cluster_name", "cl_name" %>
        <%= hidden_field_tag "datastore_name", "ds_name" %>
                

        <%= submit_tag("CloneVM") %>

    <% end %>

    <script>
		var providerHandle = document.getElementById('provider');
		var datacenterHandle = document.getElementById('datacenter');
        var clusterHandle = document.getElementById('cluster');
		var clusterNameHandle = document.getElementById('cluster_name');
		var datacenterNameHandle = document.getElementById('datacenter_name');
		var datastoreHandle = document.getElementById('datastore');
		var datastoreNameHandle = document.getElementById('datastore_name');
		var networkHandle = document.getElementById('network');


		providerHandle.addEventListener('change', function(){
		    var xhr = new XMLHttpRequest();
		    xhr.open('GET', `/standard_build/find_datacenters.json?provider_id=${providerHandle.value}`, true);
		    xhr.onreadystatechange = function(){
		    if(xhr.readyState === 4 && xhr.status === 200){
		        var datacenterDetails = JSON.parse(xhr.responseText);
		        datacenterHandle.innerHTML = '';
		        datacenterDetails.datacenters.forEach(function(datacenter){
		                        var optionTag = document.createElement('option');
		                        optionTag.setAttribute('value', datacenter.datacenter);
		                        var text = document.createTextNode(datacenter.name);
		                        optionTag.appendChild(text);
		                        datacenterHandle.appendChild(optionTag);
		        });
		    }
		}
		    xhr.send();

		}, false); 

		clusterHandle.addEventListener('change', function(){
			clusterNameHandle.value = clusterHandle.children[clusterHandle.selectedIndex].text;
		}, false);


		datacenterHandle.addEventListener('change', function(){
			datacenterNameHandle.value = datacenterHandle.children[datacenterHandle.selectedIndex].text;
		}, false);

		datastoreHandle.addEventListener('change', function(){
			datastoreNameHandle.value = datastoreHandle.children[datastoreHandle.selectedIndex].text;
		}, false);


		datacenterHandle.addEventListener('change', function(){
			var xhr = new XMLHttpRequest();
			xhr.open('GET', `/standard_build/find_cdn.json?provider_id=${providerHandle.value}&datacenter=${datacenterHandle.value}`, true);
			xhr.onreadystatechange = function(){
				if(xhr.readyState === 4 && xhr.status === 200){
					var receivedValue = JSON.parse(xhr.responseText);
					var cdnDetails = receivedValue["cdn"]    
					console.log(cdnDetails);

					clusterHandle.innerHTML = '';
					cdnDetails["clusters"].forEach(function(cluster){
					            var optionTag = document.createElement('option');
					            optionTag.setAttribute('value', cluster.cluster);
					            var text = document.createTextNode(cluster.name);
					            optionTag.appendChild(text);
					            clusterHandle.appendChild(optionTag);
					    });

				    datastoreHandle.innerHTML = '';
				    cdnDetails["datastores"].forEach(function(datastore){
			                    var optionTag = document.createElement('option');
			                    optionTag.setAttribute('value', datastore.datastore);
			                    var text = document.createTextNode(datastore.name);
			                    optionTag.appendChild(text);
			                    datastoreHandle.appendChild(optionTag);
					    });

				    networkHandle.innerHTML = '';
				    cdnDetails["networks"].forEach(function(network){
			                    var optionTag = document.createElement('option');
			                    optionTag.setAttribute('value', network.network);
			                    var text = document.createTextNode(network.name);
			                    optionTag.appendChild(text);
			                    networkHandle.appendChild(optionTag);
					    });
			    }
			}
			xhr.send();
		}, false); 

    </script>

</body>
</html>
