<html>
<head>
    <title> Clone Build </title>
</head>
<body>
	<h3>Clone a VM </h3>  

   <%= form_tag({:action => 'create'}, method: "get") do %>
   <div class="form-row">
		<div class="form-group col-md-4">
        <label for="provider"> Provider </label> <br/>
        <%= select_tag :provider, options_from_collection_for_select(Provider.all, "id", "provider_name"), :prompt => "--select provider--" %>
    	</div>
		<div class="form-group col-md-4">
			<div class="form-group">
            
            <label for="datacenter"> Source Datacenter </label><br>
            <%= select_tag :source_dc, options_from_collection_for_select(@datacenters, "datacenter", "name"), {:prompt => "--select datacenter--"} %> 
            <img src="/images/loading.gif" height=20 id="loading-sdc" style="display:none" /><br/>

            <label for="folder"> Folders </label><br>
            <%= select_tag :folders, options_from_collection_for_select(@folders, "folder", "name"), {:prompt => "--select folder--"} %> 
            <img src="/images/loading.gif" height=20 id="loading-folder" style="display:none" /><br/>

			<label for="source_vm"> Source VM Name: </label><br>
        	<%= select_tag :source_vm, options_from_collection_for_select(@vms_folder, "vm", "name"), {:prompt => "--select VM--"} %>
            <img src="/images/loading.gif" height=20 id="loading-vm" style="display:none" /><br/>
        	<!-- <span id="vm_error"> </span> -->
        	</div>
        	<div class="form-group">
	        <label for="target_vm"> Target VM Name: </label><br>
    	    <%= text_field_tag(:target_vm, value='our-vm') %> 
    	    <span id="tvm_error"> </span> <br>
            <label for="target_vm"> Target VM Notes </label><br>
            <%= text_area_tag(:annotation)  %> 
        	</div>
		</div>
	</div><hr>


	<div class="form-row">
        <div class="form-group col-md-4">
        <label for="datacenter"> Target Datacenter </label><br>
        <%= select_tag :datacenter, options_from_collection_for_select(@datacenters, "datacenter", "name"), {:prompt => "--select datacenter--"} %>
        <img src="/images/loading.gif" height=20 id="loading-datacenter" style="display:none" />
    	</div>
    	<!-- <div class="form-group col-md-4">
			Details about datacenter
		</div> -->
	</div><hr>
	<div class="form-row">
		<div class="form-group col-md-4">
        <label for="datastore"> Target Datastore </label><br/>
        <%= select_tag :datastore, options_from_collection_for_select(@datastores, "datastore", "name"), {:prompt => "--select datastore--"} %>
        <img src="/images/loading.gif" height=20 id="loading-datastore" style="display:none" /> 			
		</div>
		<!-- <div class="form-group col-md-4">
			Details about datastore
		</div> -->

	</div><hr>

	<div class="form-row">
		<div class="form-group col-md-4">
		    <label for="cluster"> Target Cluster </label><br>
        	<%= select_tag :cluster, options_from_collection_for_select(@clusters, "cluster", "name"), {:prompt => "--select cluster--"} %>
        	<img src="/images/loading.gif" height=20 id="loading-cluster" style="display:none" />
        </div>
		<div class="form-group col-md-4">
			Details about cluster <br>
			<div class="form-group">
		        <label for="memoryMB"> Memory (in MB)</label>
        		<%= text_field_tag(:memoryMB, value=1024) %> 
			</div>
			<div class="form-group">
		        <label for="numCPUs"> No. CPUs </label>
        		<%= text_field_tag(:numCPUs, value=1) %> 
			</div>

		</div>
	</div><hr>

	<div class="form-row">
		<div class="form-group col-md-6">
        <label for="network"> Network Adapter </label>
        <%= select_tag :network, options_from_collection_for_select(@networks, "network", "name"), {:prompt => "--select network--"} %> 
        <img src="/images/loading.gif" height=20 id="loading-network" style="display:none" />			
		</div>


		<!-- <div class="form-group col-md-4">
        <label for="ip_addr"> IP Address </label> 
        <%#= text_field_tag(:ip_address, value="") %> <br/>

        <label for="netmask"> Netmask </label>
        <%#= text_field_tag(:netmask, value="") %> <br/>

        <label for="gateway">  Gateway </label> 
        <%#= text_field_tag(:gateway, value="") %> <br/>

        <label for="dnsServer"> DNS Server </label>
        <%#= text_field_tag(:dnsServer, value="") %> <br/>
			
		</div>
 -->


	</div><hr>


	<div class="form-row">
        Send Mail to: 
        <!-- <input id="send_mail" type="email" placeholder="sds@vmware.com" multiple> -->
        <%= email_field_tag :send_mail, nil, multiple: true %>


    </div><hr>

 
 


        <%= hidden_field_tag "datacenter_name", "dc_name" %>
        <%= hidden_field_tag "cluster_name", "cl_name" %>
        <%= hidden_field_tag "datastore_name", "ds_name" %>
        <%= hidden_field_tag "network_name", "nw_name" %>
        <%#= hidden_field_tag "new_cluster_name", "nw_cl_name" %>
        <%= hidden_field_tag "source_vm_name", "svm_name" %>
        <%= hidden_field_tag "tag_name", "tag_name" %>
        <%= hidden_field_tag "folder_name", "fl_name" %>
        <%#= hidden_field_tag "target_vm_name", "tvm_name" %>

                

        <%= submit_tag("CloneVM") %>

    <% end %>

    <script src="/js/clone-build.js"> </script>

</body>
</html>
