<h2>Users Activities</h2>
<% @logs.each do |log| %>
<div class="activity">
<%= log.created_at %>
<%= log.user %>
<%#= activity.PublicActivity:: Activity id %>
<%= log.controller %>
<%= log.note %>
<<<<<<< HEAD
<%= log.params %>
=======
<%#= logs.params %>
>>>>>>> 7e2408c5b0f472737f0f58c0367cda2aeea9cfca
</div>
<% end %>