<!DOCTYPE html>
<html>
  <head>
    <title>Vlm</title>
    <%#= csrf_meta_tags %>
    <%#= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>

  <body>
    <% if user_signed_in? %>
    Logged in as <%= current_user.email %> |
    
    <%= link_to "Logout", destroy_user_session_path, method: :delete %> 
    
    <div class="container">
      <%= render "./layouts/nav" %>
      <%= yield %>
    </div>
    <% else %>
    <%= link_to "Login",new_user_session_path %>
    <div class="container">
      
      <%= yield %>
    </div>
    <%#= link_to "Sign Up", new_user_registration_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </body>
</html>
